# Created by venv; see https://docs.python.org/3/library/venv.html
*.spec
*.zip
*.tar
*.rar
*.7z
*.log

.history
.vscode

bin
include
lib
lib64
build
dist

pyvenv.cfg
app.log

passwords.py
passwords_data.json